@import "tailwindcss";

:root {
	color-scheme: dark;
}

html,
body {
	background-color: #000;
	color: #fff;
	font-family: "logic-monospace", "Noto Sans TC", monospace;
}

body {
	overflow: hidden;
}

@layer utilities {
	@keyframes marquee-vertical {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-50%);
		}
	}
}