---
import BaseLayout from "../layouts/BaseLayout.astro";
import MarqueeItem from "../components/MarqueeItem.astro";
import "../styles/global.css";
import img1 from "../assets/img-1.jpg";
import img2 from "../assets/img-2.jpg";
import img3 from "../assets/img-3.jpg";
import img4 from "../assets/img-4.jpg";
import img5 from "../assets/img-5.jpg";

const images = [img1, img2, img3, img4, img5];
const items = Array.from({ length: 20 }, (_, index) => ({
    img: images[index % images.length],
    title: `This is the ${index + 1} project`,
    width: Math.floor(50 + Math.random() * 51),
}));
const marqueeItems = [...items, ...items];
---

<BaseLayout>
    <main class="relative min-h-screen">
        <aside
            class="fixed left-0 top-0 flex h-screen w-1/3 flex-col justify-between px-6 py-10 md:w-[30%]"
        >
            <div class="space-y-4">
                <h1 class="text-3xl tracking-wide">JIN YEN-LIANG</h1>
                <p class="text-sm">web design &amp; fronted-end develop</p>
            </div>
            <div class="flex gap-3 text-xs">
                <span>instagram</span>
                <span>/</span>
                <span>threads</span>
                <span>/</span>
                <span>e-mail</span>
            </div>
        </aside>
        <section
            class="ml-[33.333%] h-screen w-[66.666%] md:ml-[30%] md:w-[70%]"
        >
            <div class="hidden h-full gap-6 md:flex">
                <div
                    class="group/marquee relative h-[100dvh] w-1/2 overflow-hidden"
                >
                    <ul
                        class="flex flex-col gap-6 will-change-transform animate-[marquee-vertical_60s_linear_infinite] group-hover/marquee:[animation-play-state:paused]"
                    >
                        {
                            marqueeItems.map((item) => (
                                <MarqueeItem item={item} />
                            ))
                        }
                    </ul>
                </div>
                <div
                    class="group/marquee relative h-[100dvh] w-1/2 overflow-hidden"
                >
                    <ul
                        class="flex flex-col gap-6 will-change-transform animate-[marquee-vertical_60s_linear_infinite] group-hover/marquee:[animation-play-state:paused]"
                    >
                        {
                            marqueeItems.map((item) => (
                                <MarqueeItem item={item} liClass="self-end" />
                            ))
                        }
                    </ul>
                </div>
            </div>
            <div class="h-full md:hidden">
                <div
                    class="group/marquee relative h-[100dvh] w-full overflow-hidden"
                >
                    <ul
                        class="flex flex-col gap-6 will-change-transform animate-[marquee-vertical_26s_linear_infinite] group-hover/marquee:[animation-play-state:paused]"
                    >
                        {
                            marqueeItems.map((item) => (
                                <MarqueeItem item={item} liClass="self-end" />
                            ))
                        }
                    </ul>
                </div>
            </div>
        </section>
    </main>
</BaseLayout>
